# R Pivot Table Tutorial

This tutorial will guide you through creating a simple pivote table using R. It is designed for stuednts with no previous experience using R and only uses simple R functions.

## Step One: Load Data

The data is stored in a comma-delimited format (CSV file) in on a website called GitHub. We will first load the data from that website. To load the data into a dataframe object called "data", run the next line:

In [1]:
data <- read.csv("https://raw.githubusercontent.com/TomEinhorn/SOCI380/refs/heads/main/SOCI%20380%20FPA%20Dataset.csv", header = TRUE)

## Step Two: Look at the Data

Before we do anything, It is good practice to take a look at our data to make sure it was read succesfully. This will also help us get a better understanding of the structure of the data.

First, let's take a look at the first few lines of the data.

In [2]:
head(data)

  Q8 Q8_9_TEXT Q9_1 Q10 Q10_6_TEXT Q11 Q24 Q26 Q35 Q38
1 1            30   2              1   3   3   1   5,6,10,11
2 2            21   2              3   2   2   4   6,12
3 2            22   1              1   1   2   4   2,3,4,6,10
4 7            20   2              1   3   3   5   6,10,12
5 7            21   2              3   5   3   4   10,12,13,14
6 2            21   2              3   1   2   2   2,4,6,7,8,9,10,11
  Q38_14_TEXT
1
2
3
4
5 Part of school project
6

Next, let's generate a list of all variables in the data:

In [ ]:
variable_names <- colnames(data)
print(variable_names)

This is a list of variable names in our data. When you need to refer to variable, use these names above. However, keep in mind:
1. No need to use quaotation makes.
2. R is case sensative. That means that if a variable name has a capital lette(s), you must also use capital letters when reffering to it.

Finally, let's generate a summary of all variables in the data:

In [ ]:
summary(data)

Notice that because of issues with data structure, some variables are given as "charachter". We will not be working with these variables in this tutorial.

## Step Three: Simple Pivot Talbe

Use the code below to create a simple pivot table. To

In [ ]:
my_table <- table(data$Q10, data$Q11)

To see your table, run the code below

In [ ]:
print(my_table)

## Step Four: Extra Features

First, let's convert the table into percentages. The code below convets the table into a percentage table. Each value in each cell is divided by the total number of observations in the table. For to row percentages, use margin = 1. For column percentages, use margin = 2. The table uses 2 decimal palces. You can change that by changing the value of the "digits" parameter.

In [ ]:
table_with_percent <- round(prop.table(my_table, margin = NULL)*100, digits = 2)
print(table_with_percent)

Next, we'll add row and column totals. The code below is configured for both row and column totals. For column totals only, use margin = 1. For row totals only, use margin = 2.

In [ ]:
table_with_totals <- addmargins(table_with_percent, margin = c(1,2))
print(table_with_totals)

# Step Five: Save Your Work

Run the code below to save your work.

In [ ]:
write.csv(as.data.frame.matrix(table_with_totals), "simple pivot table.csv")

Fine your table in the side panel in a file named "simple pivot table.csv". Left click the file and click "download."